<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>freeStuff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B20E0A481C7FD4D50041A3D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B20E0A5C1C7FD4D50041A3D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B20E0A671C7FD4D50041A3D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
